<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="floor" default="true" />
  <arg name="gantry" default="true" />

  <!-- Floor robot stuff -->
  <group ns="floor" if="$(arg floor)">
    <!-- load controller parameters -->
    <rosparam file="$(find robotlab_support)/config/floor/kvp_params.yaml" command="load"/>
    <!-- start controller-->
    <node name="kuka_trajectory_interface" pkg="kuka_kvp_hw_interface" type="kvp_joint_trajectory_node" respawn="false" output="screen" required="true"/>
    <node name="kuka_joint_state_interface" pkg="kuka_kvp_hw_interface" type="kvp_joint_state_node" respawn="false" output="screen" required="true"/>
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find robotlab_support)/config/floor/hardware_controllers.yaml" command="load"/>
    <!-- Load floor controller joint names from YAML file to parameter server -->
    <rosparam file="$(find robotlab_support)/config/floor/controller_joint_names.yaml" command="load"/>
    <!-- Load controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller --shutdown-timeout 1"/>
  </group>

   <!-- Floor robot stuff -->
  <group ns="gantry" if="$(arg gantry)">
    <!-- load controller parameters -->
    <rosparam file="$(find robotlab_support)/config/gantry/kvp_params.yaml" command="load"/>
    <!-- start controller-->
    <node name="kuka_trajectory_interface" pkg="kuka_kvp_hw_interface" type="kvp_joint_trajectory_node" respawn="false" output="screen" required="true"/>
    <node name="kuka_joint_state_interface" pkg="kuka_kvp_hw_interface" type="kvp_joint_state_node" respawn="false" output="screen" required="true"/>
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find robotlab_support)/config/gantry/hardware_controllers.yaml" command="load"/>
    <!-- Load gantry controller joint names from YAML file to parameter server -->
    <rosparam file="$(find robotlab_support)/config/gantry/controller_joint_names.yaml" command="load"/>
    <!-- Load controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller --shutdown-timeout 1"/>
  </group>

</launch>
