<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="floor" default="true"/>
  <arg name="gantry" default="true"/>

  <group ns="floor" if="$(arg floor)">
    <rosparam file="$(find robotlab_support)/config/floor/sws_params.yaml" command="load" />
    <node name="kuka_kvp_sws_interface" pkg="kuka_kvp_hw_interface" type="kvp_sws_node" respawn="false" output="screen" required="true" />
  </group>

  <group ns="gantry" if="$(arg gantry)">
    <rosparam file="$(find robotlab_support)/config/gantry/sws_params.yaml" command="load" />
    <node name="kuka_kvp_sws_interface" pkg="kuka_kvp_hw_interface" type="kvp_sws_node" respawn="false" output="screen" required="true" />
  </group>
</launch>
