<launch>
	<include file="$(find robotlab_support)/launch/robot_interface_streaming_robotlab.launch" >
		<arg name="sim_floor"   value="true" />
		<arg name="sim_gantry" value="true" />
	</include>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find robotlab_support)/config/rviz.rviz" required="true" />
</launch>
