<?xml version="1.0" ?>

<robot name="robotlab" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find robotlab_gazebo)/urdf/robotlab_macro.xacro"/>	
  <xacro:robotlab_gazebo prefix=""/>

  <!-- Fix robot to Gazebo world -->
  <link name="world"/>
  <joint name="world-base_link-fixed" type="fixed">
    <parent link="world"/>
    <child link="root"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
