 <launch>
   <param name="robot_description"  command="$(find xacro)/xacro.py '$(find gantry_support)/urdf/gantry_robot.xacro'" />
   <arg name="rvizconfig" default="$(find gantry_support)/rviz/urdf.rviz" />
   <arg name="gui" default="True" />
   <param name="use_gui" value="$(arg gui)"/>
   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
   <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />
 </launch>
