<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="FTC-50-80" params="prefix">
    <link name="${prefix}FTC-50-80">
      <visual>
        <geometry>
          <cylinder length="0.0485" radius="0.082"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <cylinder length="0.05" radius="0.1"/>
        </geometry>
      </collision>
      <inertial>
        <!-- data from http://www.comoso.com/uploads/showcase/manuals/Schunk_Comoso_eng_robot_accessoires.pdf -->
        <mass value="1.56"/>
        <inertia ixx="0.00395" ixy="0.0" ixz="0.0" iyy="0.00395" iyz="0.0" izz="0.0058"/>
      </inertial>
    </link>
  </xacro:macro>
  <xacro:macro name="SWA-020" params="prefix">
    <link name="${prefix}SWA-020">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robotlab_support/meshes/schunk/visual/SWA-020.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <inertial>
        <!-- data from http://www.comoso.com/uploads/showcase/manuals/Schunk_Comoso_eng_robot_accessoires.pdf -->
        <mass value="0.3"/>
        <inertia ixx="0.054584" ixy="0.0" ixz="0.0" iyy="0.054584" iyz="0.0" izz="0.10914"/>
      </inertial>
    </link>
  </xacro:macro>
  <xacro:macro name="SWK-020" params="prefix">
    <link name="${prefix}SWK-020">
      <visual>
        <origin xyz="0 0 0" rpy="${pi/2} ${pi} 0"/>
        <geometry>
          <mesh filename="package://robotlab_support/meshes/schunk/visual/SWK-020.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="${pi/2} ${pi} 0"/>
        <geometry>
          <mesh filename="package://robotlab_support/meshes/schunk/visual/SWK-020.stl" scale="0.002 0.002 0.002"/>
        </geometry>
      </collision>
      <inertial>
        <!-- data from http://www.comoso.com/uploads/showcase/manuals/Schunk_Comoso_eng_robot_accessoires.pdf -->
        <mass value="0.8"/>
        <inertia ixx="0.14555" ixy="0.0" ixz="0.0" iyy="0.14555" iyz="0.0" izz="0.29104"/>
      </inertial>
    </link>
  </xacro:macro>
</robot>
