<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="gantry_transmission" params="prefix">

        <!--joint_a1 transmission-->
        <transmission name="${prefix}joint_e1_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}joint_e1">
                <hardwareInterface>PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}motor_e1">
                <hardwareInterface>PositionJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <!--joint_a2 transmission-->
        <transmission name="${prefix}joint_e2_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}joint_e2">
                <hardwareInterface>PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}motor_e2">
                <hardwareInterface>PositionJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <!--joint_a3 transmission-->
        <transmission name="${prefix}joint_e3_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}joint_e3">
                <hardwareInterface>PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}motor_e3">
                <hardwareInterface>PositionJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
    </transmission>

	
    <gazebo reference="${prefix}link_base">
      <material>Gazebo/Grey</material>
      <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="${prefix}link_leg">
      <material>Gazebo/Blue</material>
      <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="${prefix}link_arm">
      <material>Gazebo/Blue</material>
      <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="${prefix}link_trolley">
      <turnGravityOff>true</turnGravityOff>
    </gazebo>

    </xacro:macro>
</robot>
