<?xml version="1.0"?>
<!--Generates a urdf from the macro in gantry_macro.xacro -->
<robot name="gantry_robot_gazebo" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find gantry_gazebo)/urdf/gantry_robot_gazebo_macro.xacro" />
    <xacro:gantry_robot_gazebo prefix=""/>
</robot>
